/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}




body {
    background-color: #f9f9f9;
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
}

nav {
    position: fixed;
    width: 100%;
    top: 0;
    height: 56px;
    align-items: center;
    background-color: white;
    /* padding: 20vh 0 2vh 0; */
}

#nav_left {
    padding-left: 24px;
}

#nav_hamburger {
    position: relative;
    top: -4.5px;
}

#nav_logo {
    padding-left: 18px;
}

#nav_mid{}

#nav_input{
    border: 1px solid #ccc;
    border-radius: 1px;
    box-shadow: inset 0 1px 2px #eee;
    padding: 7px 12px;
    width: 554px;
    font-size: 16px;
    font-weight: 500;
    text-align: inherit;
    color: #eee;
    position: relative;
    top: -6px;
    right: -18px
}

#nav_search{
    border: 1px solid #ccc;
    border-radius: 1px;
    box-shadow: inset 0 1px 2px #eee;
    padding: 6px 20px;
    background-color: #f8f8f8;
    position: relative;
    top: 6px;
    right: -13px;
}

#nav_mic{
    position: relative;
    right: -25px;
}

#nav_right{
    padding-right: 14px;
}

#nav_app{
    padding-right: 25px;
    position: relative;
    top: -1.5px;
}

#nav_dots{
    padding-right: 11px;
}

#nav_login{
    border: 1px solid #065fd4;
    border-radius: 2px;
    padding: 10px 11px;
    color: #2978df;
    font-weight: 600;
    position: relative;
    top: -9px;
}

#nav_avatar{
    position: relative;
    top: 10px;
    right: 2px;
    padding-right: 2px;
}

hr {
}

.inline {
    display: inline;
}

.flex {
    display: flex;
}

.justify_space_between {
    display: flex;
    justify-content: space-between;
}



.content {
    padding: 6vh 0 0 0;
    display: flex;
    width: 100%;
    justify-content: center;
    position: relative;
    right: 5px;
}

.content_container {
    display: flex;
    max-width: 1695px;
}

.like_video {
    padding-bottom: 6px;
    border-bottom: 2px solid grey;
}


#next {
    font-size: 16px;
}

#autoplay {
    font-weight: 500;
    font-size: 12.5px;
    color: #606060;
    position: relative;
    top: -15px;
}

#slider {
    position: relative;
    top: -5px;
    right: -2px;
}

#nav_hr {
    margin: 10px 0;
}

.side_video {
    display: flex;
    padding: 1px 0;
}

.side_text_container {
    width: 210px;
    padding: 5px 0 0 5px;
    line-height: 1.2;
}

.side_lg_text {
    font-weight: 500;
    color: #030303;
}

.side_sm_text {
    font-size: 13px;
    color: #606060;
    line-height: 1.4;
}

.side_checkmark {
    position: relative;
    top: 5px;
    right: 2px;
}

.main {
    margin-right: 25px;
}

.player {
    display: block;
    width: 932px;
    height: 524px;
}

.subscribe {
    border: none;
    color: white;
    background-color: #c00;
    font-weight: 500;
    font-size: 14px;
    font-family: 'Roboto Mono', monospace;
    padding: 9px 12px;
    border-radius: 2px;
}

.round_img {
    border-radius: 100%
}

.small_thumb {
    width: 18px;
    height: auto;
}